<div class="headercard headerspace">
    <div class="row">
        <div class="col-lg-11">
            <h5 class="headings">{{labels.Dashboard}}</h5>
        </div>
    </div>
</div>
<div class="card">
    <br>
    <div class="row content">

        <div class="dashboardCountBox">
            <label class="coutnText"><b>{{labels.patients}}</b></label>
            <label class="countNo"><b><u>79</u></b></label>
        </div>

        <div class="dashboardCountBox">
            <label class="coutnText"><b>{{labels.ClaimsRaised}}</b></label>
            <label class="countNo"><b><u>89</u></b></label>
        </div>

        <div class="dashboardCountBox">
            <label class="coutnText"><b>{{labels.ClaimsInProgress}}</b></label>
            <label class="countNo"><b><u>99</u></b></label>

        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row content">

        <div class="dashboardCountBox">
            <label class="coutnText"><b>{{labels.ClaimsProcessed}}</b></label>
            <label class="countNo"><b><u>72</u></b></label>
        </div>

        <div class="dashboardCountBox">
            <label class="coutnText"><b>{{labels.ClaimsRejected}}</b></label>
            <label class="countNo"><b><u>75</u></b></label>

        </div>

    </div>
    <br>
</div>