<div class="row">
    <div class="col-lg-12 bg">
        <div class="col-lg-2">

        </div>
        <div  class="col-lg-9">
            <label>{{apiService.languageID=='1'?"Welcome Back":"Bienvenue dos"}}, <br><b
                    style=" color: #1dc0d3;">{{loaderService.userName}} </b>
                <img src="assets/images/wave.png" style="width: 15px;">
            </label>
        </div>
        <div style="display: flex; align-items: center;">
            <div class="switchlay">
                <select class="form-control lang" [(ngModel)]="languageID" (change)="languageChange($event)">
                    <option value="1">En</option>
                    <option value="6">Fr</option>
                </select>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <img src="assets/images/logout.png" style="width: 30px;cursor: pointer;margin-right: 1rem;" title="Logout"
                (click)="logout()">
        </div>
    </div>
</div>