<div class="headercard headerspace">
    <div class="row">
        <div class="col-lg-11">
            <h5 class="headings">{{labels.ClaimsRaised}}</h5>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover">
            <tr>
                <th>{{labels.folderId}}</th>
                <th>{{labels.workbookId}}</th>
                <th>{{labels.voiladocPID}}</th>
                <th>{{labels.name}}</th>
                <th>{{labels.phoneNo}}</th>
                <th>{{labels.emailID}}</th>
                <th>{{labels.claimAmount}}</th>
                <th>{{labels.insuranceCompany}}</th>
                <th>{{labels.policyNumber}}</th>
                <th>{{labels.subscripNo}}</th>            
                <th>{{labels.status}}</th>
                

            </tr>
            <tr *ngFor="let details of data">
                <td>{{details.folderID}}</td>
                <td>{{details.workbookID}}</td>
                <td>{{details.patientID}}</td>
                <td>{{details.patientName}}</td>
                <td>{{details.mobileNumber}}</td>
                <td>{{details.emailID}}</td>
                <td>{{details.amount}}</td>
                <td>{{details.insuranceCompany}}</td>
                <td>{{details.policyNumber}}</td>
                <td>{{details.subscriptionNumber}}</td>           
                <td>{{details.status}}</td>
             
                <!-- <td>
                    <img src="assets/images/ViewDetails.png" class="editdelete"
                        (click)="showcet(details.attachments)" />
                </td> -->
            </tr>
        </table>
    </div>
</div>`