<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeOfPopup" *ngIf="showPopup==1"></app-toastpopup>
<div class="container-fluid bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4 cardlay">
                <div class="card" style="padding: 2rem;">
                    <div style="text-align: center;">
                        <img src="assets/images/mainlogo.png" style="width: 10rem;" class="mt-3">
                        <br>
                        <h5 style="color: #322b6b;">{{labels.insurance}}</h5>
                    </div>
                    <div class="tllay">
                        <h5 style="color: #322b6b;">{{labels.login}}</h5>
                        <div>
                            <select class="form-control lang" [(ngModel)]="languageID"
                                (change)="languageChange($event)">
                                <option value="1">En</option>
                                <option value="6">Fr</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <input type="text" class="form-control" placeholder="{{labels.pin}}" [(ngModel)]="pin" >
                    <br>
                    <input type="text" class="form-control" placeholder="{{labels.username}}" [(ngModel)]="username">
                    <br>
                    <input type="text" class="form-control" placeholder="{{labels.password}}" [(ngModel)]="password">
                    <br>
                    <button type="button" class="loginbtn" (click)="login()">{{labels.login}}</button>
                    <br>
                    <label class="forgot">{{labels.forgot}}</label>
                </div>
            </div>
        </div>
    </div>
</div>