<div class="container-fluid bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4 cardlay">
                <div class="card" style="padding: 2rem;">
                    <div style="text-align: center;">
                        <img src="assets/images/mainlogo.png" style="width: 10rem;" class="mt-3">
                    </div>
                    <br>
                    <div class="tllay">
                        <h5>{{labels.login}}</h5>
                        <h5>|</h5>
                        <div class="switchlay">
                            <label>English</label>
                            <label class="switch">
                                <input type="checkbox" (change)="languageChange($event)"
                                    [checked]="apiService.languageID=='6'">
                                <span class="slider"></span>
                            </label>
                            <label>Français</label>
                        </div>
                    </div>
                    <br>
                    <input type="text" class="form-control" placeholder="{{labels.pin}}">
                    <br>
                    <input type="text" class="form-control" placeholder="{{labels.username}}">
                    <br>
                    <input type="text" class="form-control" placeholder="{{labels.password}}">
                    <br>
                    <button type="button" class="loginbtn" (click)="login()">{{labels.login}}</button>
                </div>
            </div>
        </div>
    </div>
</div>