<div class="container-fluid divNegateFull" *ngIf="loaderService.isLogin=='no'"
    [ngClass]="loaderService.showSpinner? 'background-blur':''">
    <div class="row">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="container-fluid divNegateLeft" *ngIf="loaderService.isLogin=='yes'"
    [ngClass]="loaderService.showSpinner? 'background-blur':''">
    <div class="row">
        <div class="col-lg-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-10">
            <app-header (ChangeLanguage)="changeLanguage()"></app-header>
            <router-outlet *ngIf="!reloadRouterOutlet"></router-outlet>
        </div>
    </div>
</div>

<app-loader *ngIf="loaderService.showSpinner"></app-loader>