<div class="headercard headerspace">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.up}}</h5>
        </div>
    </div>
</div>
<div class="card">
    <form [formGroup]="patientForms">
        <div class="row">
            <div class="col-lg-3">
                <label>{{labels.firstName}}<span class="commonask">*</span></label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.firstName}}" name="firstName" required formControlName="firstName">
            </div>
            <div class="col-lg-3">
                <label>{{labels.lastName}}<span class="commonask">*</span></label>
                <input type="text" placeholder="{{labels.lastName}}" class="form-control inputfield" required
                    id="floatingInput" name="lastName" required formControlName="lastName">
            </div>
            <div class="col-lg-3">
                <label>{{labels.dateOfBirth}}<span class="commonask">*</span></label>
                <input type="date" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.dateOfBirth}}" name="dateOfBirth" required formControlName="dateOfBirth">
            </div>
            <div class="col-lg-3">
                <label>{{labels.gender}}</label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.gender}}" name="gender" required formControlName="gender">
            </div>
            <div class="col-lg-3">
                <label>{{labels.telephone}}<span class="commonask">*</span></label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.telephone}}" name="telephone" required formControlName="telephone">
            </div>
            <div class="col-lg-3">
                <label>{{labels.email}}<span class="commonask">*</span></label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.email}}" name="email" required formControlName="email">
            </div>
            <div class="col-lg-3">
                <label>{{labels.identityNumber}}<span class="commonask">*</span></label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.identityNumber}}" name="identityNumber" required
                    formControlName="identityNumber">
            </div>
            <div class="col-lg-3">
                <label>{{labels.insuranceCompanyName}}</label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.insuranceCompanyName}}" name="insuranceCompanyName" required
                    formControlName="insuranceCompanyName">
            </div>
            <div class="col-lg-3">
                <label>{{labels.subscriptionNumber}}<span class="commonask">*</span></label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.subscriptionNumber}}" name="subscriptionNumber" required
                    formControlName="subscriptionNumber">
            </div>
            <div class="col-lg-3">
                <label>{{labels.policyNumber}}<span class="commonask">*</span></label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.policyNumber}}" name="policyNumber" required formControlName="policyNumber">
            </div>
            <div class="col-lg-3">
                <label>{{labels.policyExpiryDate}}</label>
                <input type="text" class="form-control inputfield" required id="floatingInput"
                    placeholder="{{labels.policyExpiryDate}}" name="policyExpiryDate" required
                    formControlName="policyExpiryDate">
            </div>
            <div class="col-lg-8"></div>
            <div class="col-lg-2">
                <button class="save">{{labels.back}}</button>
            </div>
            <div class="col-lg-2">
                <button class="save">{{labels.save}}</button>
            </div>
        </div>
    </form>
</div>