.countText {
    color: black;
    font-size: 30px;
    color: white;
    font-size: 15px;
}

.countNo {
    color: black;
    font-size: 30px;
    color: #f17e2d;
    font-size: 20px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}