<div class="headercard headerspace">
    <div class="row">
        <div class="col-lg-11">
            <h5 class="headings">{{parentDef}}</h5>
            <button (click)="sumArray()">adddd</button><h5 class="headings">{{sum1}}</h5>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover">
            <tr>
               
                <th>{{labels.name}}</th>
                <th>{{labels.phoneNo}}</th>
                <th>{{labels.emailID}}</th>
             
            </tr>
            <tr *ngFor="let details of respomse">
   
                <td>{{details.name}}</td>
                <td>{{details.phone}}</td>
                <td>{{details.email}}</td>
            
            </tr> 
        </table>
    </div>
</div>